<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link href="/views/teacher/designActivity/design_activity.css" rel="stylesheet">
    <link href="/views/teacher/templates/template1.css" rel="stylesheet">
    <title>Plantilla 1</title>
</head>
<body>
    <header>

    </header>
    <section>
        <div id="board" class = "div1">
            <div class="div4" contenteditable="true">
                1. Realiza el dictado de números que me indica el docente.
            </div>
            <div class="div5">
                <form class="complete">
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                    <input type="number" class="complete1">
                    </input>
                </form>
            </div>
            <div contenteditable="true" class="div6">
                2. Realiza las siguientes sumas y restas.
            </div>
            <div class="div7">

                <!-- Primera operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1">
                            </input>
                            <input type="number" value="5" class="number1">
                            </input>
                            <input type="number" value="7" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input>
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- segunda operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="8" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- tercera operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="6" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="5" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- cuarta operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="7" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- quinta operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="8" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- sexta operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="8" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- séptima operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="6" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- octava operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- novena operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="8" class="number1">
                            </input>
                            <input type="number" value="6" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="8" class="number1">
                            </input>
                            <input type="number" value="5" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="6" class="number1">
                            </input>
                            <input type="number" value="9" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima primera operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="9" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="8" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima segunda operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="6" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="0" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima tercera operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="6" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1">
                            </input>
                            <input type="number" value="0" class="number1">
                            </input>
                            <input type="number" value="2" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima cuarta operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="0" class="number1">
                            </input>
                            <input type="number" value="1" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima quinta operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="8" class="number1">
                            </input>
                            <input type="number" value="5" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="4" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>

                <!-- décima sexta operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1">
                            </input>
                            <input type="number" value="9" class="number1">
                            </input>
                            <input type="number" value="8" class="number1">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1">
                            </input>
                            <input type="number" value="3" class="number1">
                            </input>
                            <input type="number" value="6" class="number1">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                            <input type="number" class="number1">
                            </input>
                        </form>                
                    </div>
                </div>    

            </div>
        </div>   
    </section> 
    <aside>
        <div class = "div2">
            <ion-icon name="man" class="character"></ion-icon>
            <ion-icon name="add-circle" class="add"></ion-icon>
            <ion-icon name="remove-circle" class="minus"></ion-icon>
            <ion-icon name="close-sharp" class="multiplication"></ion-icon> 
            <ion-icon name="pie-chart" class = "division"></ion-icon>
            <ion-icon name="grid" class = "table"></ion-icon>
            <ion-icon id="text" name="pencil" class="text" draggable="true"></ion-icon>
            <ion-icon name="extension-puzzle" class = "puzzle"></ion-icon>
            <ion-icon name="help-circle" class = "help"></ion-icon>
            <ion-icon name="map" class = "map"></ion-icon>
        </div>
    </aside>
    <aside>
        <div class = "div3">
            <ion-icon name="trash-bin-sharp" class="delete"></ion-icon>
            <ion-icon name="hand-left-sharp" class="select"></ion-icon>
            <ion-icon name="cog-sharp" class="config"></ion-icon> 
        </div>
    </aside> 
    <section>
        <button class="button1" >Guardar Actividad</button>
        <button class="button2" >Asignar Actividad</button>
    </section>
</body>
</html>