<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://kit.fontawesome.com/54ee98608b.js" crossorigin="anonymous"></script>
    <link href="/views/teacher/designActivity/design_activity.css" rel="stylesheet">
    <link href="/views/teacher/templates/template1.css" rel="stylesheet">
    <title>Plantilla 1</title>
</head>
<body>
    <header>

    </header>
    <section>
        <div id="board" class = "div1">
            <div class="div4" contenteditable="true" id="text1">
                1. Realiza el dictado de números que me indica el docente.
            </div>
            <div class="div5">
                <form class="complete">
                    <input type="number" class="complete1" id="number1" min="0" max="9999999" value="345">
                    </input>
                    <input type="number" class="complete1" id="number2" min="0" max="9999999" value="221">
                    </input>
                    <input type="number" class="complete1" id="number3" min="0" max="9999999" value="167">
                    </input>
                    <input type="number" class="complete1" id="number4" min="0" max="9999999" value="934">
                    </input>
                    <input type="number" class="complete1" id="number5" min="0" max="9999999" value="892">
                    </input>
                    <input type="number" class="complete1" id="number6" min="0" max="9999999" value="501">
                    </input>
                    <input type="number" class="complete1" id="number7" min="0" max="9999999" value="777">
                    </input>
                    <input type="number" class="complete1" id="number8" min="0" max="9999999" value="637">
                    </input>
                    <input type="number" class="complete1" id="number9" min="0" max="9999999" value="482">
                    </input>
                    <input type="number" class="complete1" id="number10" min="0" max="9999999" value="100">
                    </input>
                </form>
            </div>
            <div contenteditable="true" class="div6" id="text2">
                2. Realiza las siguientes sumas y restas.
            </div>
            <div class="div7">

                <!-- Primera operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1" id="num1" min="0" max="999">
                            </input>
                            <input type="number" value="5" class="number1" id="num2" min="0" max="999">
                            </input>
                            <input type="number" value="7" class="number1" id="num3" min="0" max="999">
                            </input>
                        </form>               
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1" id="num4" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num5" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num6" min="0" max="999">
                            </input>
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num7" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num8" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num9" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div12">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div> 

                <!-- segunda operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1" id="num10" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num11" min="0" max="999">
                            </input>
                            <input type="number" value="8" class="number1" id="num12" min="0" max="999">
                            </input>
                        </form> 
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1" id="num13" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num14" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num15" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num16" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num17" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num18" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div13">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- tercera operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="6" class="number1" id="num19" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num20" min="0" max="999">
                            </input>
                            <input type="number" value="5" class="number1" id="num21" min="0" max="999">
                            </input>
                        </form>               
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1" id="num22" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num23" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num24" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num25" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num26" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num27" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div14">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- cuarta operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1" id="num28" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num29" min="0" max="999">
                            </input>
                            <input type="number" value="7" class="number1" id="num30" min="0" max="999">
                            </input>
                        </form>               
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1" id="num31" min="0" max="999">
                            </input>
                            <input type="number" value="7" class="number1" id="num32" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num33" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num34" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num35" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num36" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div15">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- quinta operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="8" class="number1" id="num37" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num38" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num39" min="0" max="999">
                            </input>
                        </form>              
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num40" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num41" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num42" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num43" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num44" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num45" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div12">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- sexta operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1" id="num46" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num47" min="0" max="999">
                            </input>
                            <input type="number" value="8" class="number1" id="num48" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num49" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num50" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num51" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num52" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num53" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num54" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div13">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- séptima operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1" id="num55" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num56" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num57" min="0" max="999">
                            </input>
                        </form>               
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1" id="num58" min="0" max="999">
                            </input>
                            <input type="number" value="7" class="number1" id="num59" min="0" max="999">
                            </input>
                            <input type="number" value="6" class="number1" id="num60" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num61" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num62" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num63" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div14">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- octava operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num64" min="0" max="999">
                            </input>
                            <input type="number" value="7" class="number1" id="num65" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num66" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1" id="num67" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num68" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num69" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <div>
                    </div> 
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num70" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num71" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num72" min="0" max="999" disabled="false">
                            </input>
                        </form>               
                    </div>
                    <div class="div15">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                </div>

                <!-- novena operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1" id="num73" min="0" max="999">
                            </input>
                            <input type="number" value="8" class="number1" id="num74" min="0" max="999">
                            </input>
                            <input type="number" value="6" class="number1" id="num75" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="4" class="number1" id="num76" min="0" max="999">
                            </input>
                            <input type="number" value="8" class="number1" id="num77" min="0" max="999">
                            </input>
                            <input type="number" value="5" class="number1" id="num78" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num79" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num80" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num81" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div16">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1" id="num82" min="0" max="999">
                            </input>
                            <input type="number" value="6" class="number1" id="num83" min="0" max="999">
                            </input>
                            <input type="number" value="9" class="number1" id="num84" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1" id="num85" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num86" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num87" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num88" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num89" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num90" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div17">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima primera operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1" id="num91" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num92" min="0" max="999">
                            </input>
                            <input type="number" value="9" class="number1" id="num93" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1" id="num94" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num95" min="0" max="999">
                            </input>
                            <input type="number" value="8" class="number1" id="num96" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num97" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num98" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num99" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div18">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima segunda operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num100" min="0" max="9999">
                            </input>
                            <input type="number" value="4" class="number1" id="num101" min="0" max="999">
                            </input>
                            <input type="number" value="6" class="number1" id="num102" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num103" min="0" max="999">
                            </input>
                            <input type="number" value="0" class="number1" id="num104" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num105" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num106" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num107" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num108" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div19">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima tercera operación -->
                <div class="div8">
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1" id="num109" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num110" min="0" max="999">
                            </input>
                            <input type="number" value="6" class="number1" id="num111" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="2" class="number1" id="num112" min="0" max="999">
                            </input>
                            <input type="number" value="0" class="number1" id="num113" min="0" max="999">
                            </input>
                            <input type="number" value="2" class="number1" id="num114" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num115" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num116" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num117" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div16">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima cuarta operación -->
                <div class="div9">
                    <div>
                        <form class="operation">
                            <input type="number" value="7" class="number1" id="num118" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num119" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num120" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="3" class="number1" id="num121" min="0" max="999">
                            </input>
                            <input type="number" value="0" class="number1" id="num122" min="0" max="999">
                            </input>
                            <input type="number" value="1" class="number1" id="num123" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num124" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num125" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num126" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div17">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima quinta operación -->
                <div class="div10">
                    <div>
                        <form class="operation">
                            <input type="number" value="8" class="number1" id="num127" min="0" max="999">
                            </input>
                            <input type="number" value="5" class="number1" id="num128" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num129" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num130" min="0" max="999">
                            </input>
                            <input type="number" value="4" class="number1" id="num131" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num132" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num133" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num134" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num135" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div18">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <!-- décima sexta operación -->
                <div class="div11">
                    <div>
                        <form class="operation">
                            <input type="number" value="5" class="number1" id="num136" min="0" max="999">
                            </input>
                            <input type="number" value="9" class="number1" id="num137" min="0" max="999">
                            </input>
                            <input type="number" value="8" class="number1" id="num138" min="0" max="999">
                            </input>
                        </form>                
                    </div>
                    <div>
                        <form class="operation">
                            <input type="number" value="1" class="number1" id="num139" min="0" max="999">
                            </input>
                            <input type="number" value="3" class="number1" id="num140" min="0" max="999">
                            </input>
                            <input type="number" value="6" class="number1" id="num141" min="0" max="999">
                            </input> 
                        </form>
                    </div>
                    <hr>
                    <br><div>
                        <form class="operation">
                            <input type="number" class="number1" id="num142"  min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num143" min="0" max="999" disabled="false">
                            </input>
                            <input type="number" class="number1" id="num144" min="0" max="999" disabled="false">
                            </input>
                        </form>                
                    </div>
                    <div class="div19">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>    
            </div>
        </div>   
    </section> 
    <aside>
        <div class = "div2">
            <ion-icon name="man" class="character" id="character"></ion-icon>
            <ion-icon name="add-circle" class="add" id="add"></ion-icon>
            <ion-icon name="remove-circle" class="minus" id="minus"></ion-icon>
            <ion-icon name="close-sharp" class="multiplication" id="multiplication"></ion-icon> 
            <ion-icon name="pie-chart" class = "division" id="division"></ion-icon>
            <ion-icon name="grid" class = "table" id="table"></ion-icon>
            <ion-icon id="text" name="pencil" class="text" id="text"></ion-icon>
            <ion-icon name="extension-puzzle" class = "puzzle" id="puzzle"></ion-icon>
            <ion-icon name="help-circle" class = "help" id="help"></ion-icon>
            <ion-icon name="map" class = "map" id="map"></ion-icon>
        </div>
    </aside>
    <aside>
        <div class = "div3">
            <ion-icon name="trash-bin-sharp" class="delete" id="delete"></ion-icon>
            <ion-icon name="hand-left-sharp" class="select" id="select"></ion-icon>
            <ion-icon name="cog-sharp" class="config" id="config"></ion-icon>
            <ion-icon name="play-circle" class="play" id="play"></ion-icon>
            <ion-icon name="stop" class="stop" id="stop"></ion-icon> 
        </div>
    </aside> 
    <section>
        <button class="button1" id="saveActivity" >Guardar Actividad</button>
        <button class="button2" id="assignActivity">Asignar Actividad</button>
        <button class="button3" id="finishActivity">Finalizar actividad</button>
    </section>
    <script src="/controller/teacher/templates/templete1.js"></script>
    <script src="/controller/teacher/play_stop/play_stop.js"></script>
</body>
</html>