<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link href="/views/teacher/designActivity/design_activity.css" rel="stylesheet">
    <link href = "/views/teacher/templates/template2.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    
    <title>Plantilla 2</title>
</head>
<body>
    
    <header>

    </header>
    <section>
        <div id="board" class = "div1">
            <div contenteditable="true">
                1. Escribe el numero anterior y el posterior:
            </div>
            <div id = "board" class = "div4" >
            <form class = "complete">
                <input type="number" class = "number1" min="0" max="999" value = "583" id="i1">  
                </input>
                <div class = "editable" contenteditable="true">584</div>
                <input type="number" class = "number1" min="0" max="999" value = "585" id="i2"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "394" id="i3"> 
                <div class = "editable" contenteditable="true">395</div>
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "396" id="i4"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "199" id="i5"> 
                <div class = "editable" contenteditable="true">200</div>
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "201" id="i6"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "377" id="i7">
                <div class = "editable" contenteditable="true">378</div> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "379" id="i8"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "894" id="i9"> 
                <div class = "editable" contenteditable="true">895</div>
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "869" id="i10"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "776" id="i11">
                <div class = "editable" contenteditable="true">777</div> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "778" id="i12"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "677" id="i13">
                <div class = "editable" contenteditable="true">678</div> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "679" id="i14"> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "449" id="i15">
                <div class = "editable" contenteditable="true">450</div> 
                </input>
                <input type="number" class = "number1" min="0" max="999" value = "451" id="i16"> 
                </input>
            </form>
            </div>
            <div contenteditable="true" >
                2. Observa y escribe si es menor (&lt;) o mayor (&gt;) o igual (=):
            </div>
            <div class = "icons" id = "icons" >
                <ion-icon name="chevron-back-circle" class = "minor" id = "minor" data-id = "1"></ion-icon>
                <ion-icon name="chevron-forward-circle" class = "higher" id = "higher" data-id = "2"></ion-icon>
                <ion-icon name="reorder-two" class = "equal" id = "equal" data-id = "3"></ion-icon>
            </div> 
            
            <div class = "div5"  >
            
            <form class = "complete2">
                <div class = "complete3" >
                <div class = "div6" contenteditable="true">36</div> 
                <div class="div601" id = "position"></div> 
                <div class = "div602" contenteditable="true">40 </div>
                <div class = "div6" contenteditable="true">30</div> 
                <div class="div601" id = "position2"></div> 
                <div class = "div602" contenteditable="true">40 </div>
                <div class = "div6" contenteditable="true">2</div> 
                <div class="div601" id = "position3"></div> 
                <div class = "div602" contenteditable="true">7 </div>
                <div class = "div6" contenteditable="true">13</div> 
                <div class="div601" id = "position4"></div>
                 <div class = "div602" contenteditable="true">11 </div>
                <div class = "div6" contenteditable="true">44</div> 
                <div class="div601" id = "position5"></div>
                 <div class = "div602" contenteditable="true">21 </div>
                <div class = "div6" contenteditable="true">75</div> 
                <div class="div601" id = "position6"></div>
                 <div class = "div602" contenteditable="true">78 </div>
                <div class = "div6" contenteditable="true">48</div> 
                <div class="div601" id = "position7"></div>
                 <div class = "div602" contenteditable="true">58 </div>
                <div class = "div6" contenteditable="true">95</div> 
                <div class="div601" id = "position8"></div> 
                <div class = "div602" contenteditable="true">59 </div>
                <div class = "div8"><button type="button" class = "confirm" id = "confirm">verificar</button></div>
            </div>
            <div class = "complete4">
                <div class = "div6" contenteditable="true">71</div>
                 <div class="div601" id = "position9"></div> 
                 <div class = "div602" contenteditable="true">71 </div>
                <div class = "div6" contenteditable="true">25</div>
                 <div class="div601" id = "position10"></div>
                  <div class = "div602" contenteditable="true">10 </div>
                <div class = "div6" contenteditable="true">99</div> 
                <div class="div601" id = "position11"></div> 
                <div class = "div602" contenteditable="true">99 </div>
                <div class = "div6" contenteditable="true">16</div> 
                <div class="div601" id = "position12"></div>
                <div class = "div602" contenteditable="true">46 </div>
                <div class = "div6" contenteditable="true">83</div> 
                <div class="div601" id = "position13"></div> 
                <div class = "div602" contenteditable="true">79 </div>
                <div class = "div8"><button type="button" class = "confirm" id = "delete">Eliminar</button></div>
            </div>   
            </form>  
            </div>
            
        </div>   
    </section>
    
    <aside>
        <div class = "div2">
            <ion-icon name="man" class="character" id="character"></ion-icon>
            <ion-icon name="add-circle" class="add" id="add"></ion-icon>
            <ion-icon name="remove-circle" class="minus" id="minus"></ion-icon>
            <ion-icon name="close-sharp" class="multiplication" id="multiplication"></ion-icon> 
            <ion-icon name="pie-chart" class = "division" id="division"></ion-icon>
            <ion-icon name="grid" class = "table" id="table"></ion-icon>
            <ion-icon id="text" name="pencil" class="text" id="text"></ion-icon>
            <ion-icon name="extension-puzzle" class = "puzzle" id="puzzle"></ion-icon>
            <ion-icon name="help-circle" class = "help" id="help"></ion-icon>
            <ion-icon name="map" class = "map" id="map"></ion-icon>
        </div>
    </aside>
    <aside>
        <div class = "div3">
            <ion-icon name="trash-bin-sharp" class="delete" id="delete"></ion-icon>
            <ion-icon name="hand-left-sharp" class="select" id="select"></ion-icon>
            <ion-icon name="cog-sharp" class="config" id="config"></ion-icon>
            <ion-icon name="play-circle" class="play" id="play"></ion-icon>
            <ion-icon name="stop" class="stop" id="stop"></ion-icon> 
        </div>
    </aside> 
    <section>
        <button class="button1" id="saveActivity" >Guardar Actividad</button>
        <button class="button2" id="assignActivity">Asignar Actividad</button>
        <button class="button3" id="finishActivity">Finalizar actividad</button>
    </section>
    <script src="/controller/teacher/play_stop/play_stop.js"></script>
    <script src="/controller/teacher/templates/template2.js"></script>
</body>
</html>