@font-face {
    font-family:font_bold ;
    src: url(/fonts/font_bold.ttf);
}

@font-face {
    font-family:font_regular ;
    src: url(/fonts/font_regular.ttf);
}

.text1{
    font-family: font_regular;
    font-size: 30px;
    margin:20px;
}

.text2{
    font-family: font_regular;
    font-size: 30px;
    margin:20px;
}

.icons{
    margin:20px;
}

.div4{
    border-style: dotted;
    border-radius: 5px;
    margin:25px;
    font-family: font_bold;
    font-size: 30px;
}

input{
    font-family: font_bold;
    text-align: center;
    padding: 15px;
}

.complete{
    margin: 20px;
    font-family: font_bold;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-column-gap: 14px;
    grid-row-gap: 15px;
    text-align: start;
}

.number1{
    border-style:solid;
    border-color: black;
    border-radius: 15px;
    font-family: font_regular;
    font-size:25px;
    text-align: center;
    
    height: 18px;
}

.editable{
    text-align: center;
    height: 20px;
    margin: 10px;
}

.icons{
    border-style: dotted;
    border-radius: 5px;
    text-align: center;
}

.minor{
    width:50px;
    height:50px;
    color:black;
    cursor:move;
}

.minor.selected{
    transform: scale(1.2) rotate(-2deg);
    box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);

}



.higher{
    width:50px;
    height:50px;
    color:black;
    cursor:move;
}

.higher.selected{
    transform: scale(1.2) rotate(-2deg);
    box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);

}



.equal{
    width:50px;
    height:50px;
    color:black;
    cursor:move;
}

.equal.selected{
    transform: scale(1.2) rotate(-2deg);
    box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);

}

.div5{
    border-style: dotted;
    margin-top: 1%;
    border-radius: 5px;
    font-family: font_bold;
    font-size: 20px;
    margin: 20px;
}

.div6{
    text-align: center;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 5px;
    font-family: font_bold;
    font-size: 20px;
    margin: 20px;
}

.div601{
    text-align: center;
    height: 50px;
    width: 50px;
    margin-left: -74%;
    margin-top: 8%;
    border-style: solid;
    border-radius: 5px;
    font-family: font_bold;
    font-size: 20px;
    background-color: white;
}

.div602{
    text-align: center;
    margin-left: -156%;
    margin-top: 8%;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 5px;
    font-family: font_bold;
    font-size: 20px;
}

.complete2{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1px;
    grid-row-gap: 15px;
    border-color: black;
}

.complete3{
    display: grid;
    grid-template-columns: 49% 49% 49%;
    grid-column-gap: 14px;
    grid-row-gap: 15px;
}
.complete4{
    display: grid;
    grid-template-columns: 49% 49% 49%;
    grid-column-gap: 14px;
    grid-row-gap: 15px;

}


.div8{
    font-family: font_bold;
    border-radius: 15px;
    cursor:pointer;
    font-size: 20px;
}

.confirm{
    font-family: font_bold;
    height: 50px;
    border-radius: 15px;
    cursor:pointer;
    font-size: 20px;
    width: 100px;
}

.delete1{
    font-family: font_bold;
    height: 50px;
    border-radius: 15px;
    cursor:pointer;
    font-size: 20px;
    width: 100px;
}


hr{
    width: 36.5%;
    border-color: black;
    position: absolute;

}