<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="home_page.css" rel="stylesheet">
    <title>Arittedia</title>
    
    <title></title>
</head>

<body>
    <div class="grid-container">
        
        <div class="div1">
            <figure>
                <img class="img1" src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b> 
            </figure>   
        </div>
      
        <div class="div2">
            <h1>ARITTEDIA</h1>  
        </div>
        
        <div>
            <form action="/views/user/registerPage/registerPage.html">
                <button class="button1"><span>Regístrate</span></button>
            </form>
            <form action="/views/user/loginPage/loginPage.html">
                <button class=" button2"><span>Inicia Sesión</span></button>
            </form>            
        </div>
        
        <div class="div4">
            <figure>
                <img class = "img2" src = https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Presentaci%C3%B3n.png?alt=media&token=4017ce59-db5a-4496-bd10-89ffcdb3a835>
            </figure>
        </div>
        
        <div class="div5">
            <p>
                Arittedia es un proyecto creado para el Colegio Técnico Santo Tomas<br>
                donde el docente de matemáticas de segundo grado podrá crear sus<br> 
                propias actividades y asignarlas a sus estudiantes.
            </p>
        </div>
        
        <div class="div6">
            <footer>
                <p> 
                    Copyright 2022, <a href="https://santotomasmadrid.colegiosonline.com/">Colegio Técnico Santo Tomás</a>
                </p>
            </footer>           
        </div>

        <div class="bubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>

    </div>      
</body>
</html>








