<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login_page.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Inicio de sesión</title>
</head>
<body>
    <header>
        <figure>
            <a href = "/views/user/homePage/homePage.html"> <img src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b width="200" height="250"> </a> 
        </figure>
        <h1>ARITTEDIA</h1>
    </header>
    <section>
        <div class="div1">
            <h1>Inicio de sesión</h1>
            <figure>
                <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Inicio%20de%20sesi%C3%B3n.png?alt=media&token=ffbcf295-7137-42f9-b9bd-10a184226b87" height="350" width="350"></figure>
            </figure>
            <form id="form">
                <label for="email">
                    Correo
                </label>
                <br><input type="text" id="email" name="email" required
                    minlength="5" maxlength="100" size="45" placeholder="Ingrese su correo institucional"> <br><br>
                <label for="password">
                    Contraseña 
                <br><input type="password" id="password" name="password" required
                    minlength="5" maxlength="100" size="45" placeholder="Ingrese su contraseña">
                </label>
                <br>
                <br>
                <label class = "label_rol" for="rol">
                    Rol
                </label>
                <br><select id = "rol" name="rol">
                    <option value="1">Elige una opción</option>
                    <option value="2">Profesor</option>
                    <option value="3">Estudiante</option>
                </select><br><br>
            </form>
            <p>
                <a href="/views/user/recoverPage/recoverPage.html">¿Olvidaste tu contraseña?</a>
            </p>
            <form>
                <button class="button1" type="button" id="login" name="login"><span>Inicia sesión</span></button>
            </form>
        </div>
    </section>
    <script type = "module"  src = "/controller/user/login.js"></script>
</body>
</html>

