<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="home_page.css" rel="stylesheet">
    <title>Inicio Estudiante</title>
</head>
<body>
    <header>
        <figure>
            <img src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b width="200" height="250"> 
        </figure>
        <h1>ARITTEDIA</h1>
    </header>
    <section>        
        <nav>
            <a href = "/views/student/homePage/homePage.html" class = "nav_bar">Inicio </a>
            <a href = "/views/student/profile/profile.html" class = "nav_bar">Perfil </a>
        </nav>
        <div class = "div1">
            <h1>BIENVENIDO ESTUDIANTE</h1>
        </div>
        <div class="div2">
            <h2>Actividades completadas</h2>
            <fieldset>
                <legend>Buscar Actividad</legend>
                <input type="text" id="password" name="password" required
                minlength="5" maxlength="100" size="45">
            </fieldset>
        </div>
        <div class="div2" >
            <h2>Actividades pendientes</h2>
            <fieldset>
                <legend>Buscar Actividad</legend>
                <input type="text" id="password" name="password" required
                minlength="5" maxlength="100" size="45">
            </fieldset>
        </div>
        <table>
            <tr>
                <td>
                    <hgroup>
                        <h3>Consulta tu temario</h3>
                    </hgroup>
                    <figure>
                        <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Temas.png?alt=media&token=049eb9f1-6e46-46af-8c5e-1048697662a7" height = "230" width = "230">
                    </figure>
                    <form>
                        <button >
                            <a class = "a1" href = "https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Temario%2FTemario.pdf?alt=media&token=17c696d3-81d0-4c43-bec3-9a2894f1cadf" target="_blank" download = "Temario" style="text-decoration:none" >Consúltame</a>
                        </button>
                    </form>
                </td>
                <td>
                    <hgroup>
                        <h3>Consulta tu progreso</h3>    
                    </hgroup>
                    <figure>
                        <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Presentaci%C3%B3n.png?alt=media&token=4017ce59-db5a-4496-bd10-89ffcdb3a835" height = "230" width = "230">
                    </figure>
                    <form>
                        <button action="">
                            Consúltame
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </section>
</body>
</html>