<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="change_password.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Recuperación de contraseña</title>
</head>
<body>
    <header>
        <figure>
            <a href="/views/teacher/homePage/homePage.html"><img src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b width="200" height="250"></a> 
        </figure>
        <h1>ARITTEDIA</h1>
    </header>
    <section>
        <div class="div1">
            <h1>Hora de un cambio</h1>
            <figure>  
                <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Excelente%2C%20crack.png?alt=media&token=5a630e2f-f43f-40b7-8d05-0f116732e590" height="350" width="350"></figure>
            </figure>
            <form id="form">
                <label for="new_password">
                    Nueva contraseña
                </label>
                <br><input type="password" id="new_password" name="new_password" required
                    minlength="5" maxlength="100" size="45" placeholder="Ingrese su nueva contraseña"><br><br>
                <label for="confirm_password">
                    Confirma tu nueva contraseña
                </label>
                <br><input type="password" id="confirm_password" name="confirm_password" required
                    minlength="5" maxlength="100" size="45" placeholder="Ingrese su nueva contraseña"><br><br>      
            </form>
            <button class="button1" id="change"><span>Cambiar Contraseña</span></button>
        </div>
    </section>
    <script type = "module"  src = "/controller/teacher/changePassword.js"></script>
</body>
</html>