<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="profile.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width", user-scalable=no, initial-scale=1.0, maximum-scale=1.0, 
    minimum-scale=1.0>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Perfil docente</title>
</head>
<body>
    <header>
        <figure>
            <a href="/views/teacher/homePage/homePage.html"><img src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b width="200" height="250"></a>
        </figure>
        <h1>ARITTEDIA</h1>
        <figure>
            <img src="">
        </figure>

    </header>
    <section>        
        <nav>
            <a href = "/views/teacher/homePage/homePage.html" class = "nav_bar">Inicio </a>
            <a href = "/views/teacher/createActivity/createActivity.html" class = "nav_bar">Crea Tus Actividades </a>
            <a href = "/views/teacher/profile/profile.html" class = "nav_bar">Perfil </a>
        </nav>
        <div class = "div1">
            <h1>TU PERFIL</h1>
        </div>
        <div class = "div2">
            <h2>Foto De Perfil</h2>
            <div class="pick">
                <img class="image1" src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/A%20trabajar.png?alt=media&token=6faa33c2-beb2-47a0-9e5c-a017fcc45173" height="250" width="250">
            </div>
            
            <br><br><label class="label1" for="name">
                Nombre
            </label>
            <br><input type="text" id="Name" name="name" required
            minlength="5" maxlength="100" size="45" readonly> <br><br><br><br>
            <label class="label2" for="email">
                Correo Electrónico
            </label>
            <br><input type="text" id="Email" name="email" required
            minlength="5" maxlength="100" size="45" readonly> <br><br><br><br>
            <label class="label3" for="password">
                Contraseña
            </label>
            <br><input type="password" id="Password" name="password" required
            minlength="5" maxlength="100" size="45" readonly>
            <form action="/views/teacher/profile/changePassword.html">
                <button class = "button0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/pencil.png?alt=media&token=443e0d2a-8038-42d2-8e95-d99dc06a4d9b" height="15" width="15">
                </button>
            </form>
            <button class="button1">
                <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/pencil.png?alt=media&token=443e0d2a-8038-42d2-8e95-d99dc06a4d9b" height="15" width="15">
            </button>
            <button class="button2" id="logout" name="logout">
                    <span>Cerrar sesión</span>
            </button>
            <button class="button3" id="delete1" name="delete1">
                    <span>Eliminar cuenta</span>
            </button>

        </div>
        <script type = "module"  src = "/controller/teacher/profile.js"></script>
    </section>
</body>
</html>