body{
    background-color: lightgray;
}

@font-face {
    font-family:font_bold ;
    src: url(/fonts/font_bold.ttf);
}

@font-face {
    font-family:font_regular ;
    src: url(/fonts/font_regular.ttf);
}

header figure{

    position: absolute;
    top: 10px;
    left: 15px;
    margin-right: auto;
    margin-left: auto;

}

header{
    padding-bottom: 50px;
}
header h1{
    margin-left: auto;
    margin-right: auto;
   text-align: center;
   padding-top: 3.5%;
   font-size: 4.5em;
   font-family: font_bold;
   
}

section h1{
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:4.5em;
    font-family: font_bold;

}
.div1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    margin-top:20px;
    background-color: lightgray;
    height: 100px;
    width: 99.8%;
    border-style:solid;
    border-width:2px;
    border-color: black;
    border-radius: 25px;
}


.div2{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    background-color: lightgray;
    height: 500px;
    width: 99.8%;
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
}



.nav_bar{
    display:inline-block;
    background-color: aliceblue;
    text-align: center;
    color:black;
    padding-left: 170px;
    padding-right: 166.95px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family:font_regular;
    bottom: 100px;
    border-style:solid;
    text-decoration:none;
    border-radius: 10px;

}

.nav_bar:hover{
    background: lightblue;
}

.h2_1{
    font-size: 1.5em;
    font-family: font_bold;
    margin-left: 15px;
    margin-top: 30px;
    text-align: center;
 }

.h2_2{
    font-size: 1.5em;
    font-family: font_bold;
    margin-left: 15px;
    margin-top: 3px;
    
 }

 fieldset{
     width:400px;
     height:350px;
     border-style:solid;
     border-width:4px;
     border-color:black;
     margin-left:auto;
     margin-right:auto;
     border-radius: 15px;

 }

 .img1{
     margin-top:-7%;
 }

 legend {
    font-size: 1.3em;
    font-family: font_bold;
    margin-left: 15px;
    margin-top: 1px;
 }

fieldset figure{
    text-align: center;
    
}
