<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="create_activity.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width", user-scalable=no, initial-scale=1.0, maximum-scale=1.0, 
    minimum-scale=1.0>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Crea Una Actividad</title>
</head>
<body>
    <header>
        <figure>
            <a href="/views/teacher/homePage/homePage.html"><img src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b width="200" height="250"></a> 
        </figure>
        <h1>ARITTEDIA</h1>
    </header>
    <section>        
        <nav>
            <a href = "/views/teacher/homePage/homePage.html" class = "nav_bar">Inicio </a>
            <a href = "views/teacher/createActivity/createActivity.html" class = "nav_bar">Crea Tus Actividades </a>
            <a href = "/views/teacher/profile/profile.html" class = "nav_bar">Perfil </a>
        </nav>
        <div class = "div1">
            <h1>CREA TUS ACTIVIDADES</h1>
        </div>
        <div class="div2">
            <h2 class="h2_1">Crea Una Actividad</h2>
            <fieldset>
                <legend>Crea desde cero</legend>
                <figure>
                   <a href = "/views/teacher/designActivity/designActivity.html"> <img class = "img1" src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Nueva%20actividad.png?alt=media&token=66a678fc-5e87-4800-af5f-f8e3e7d49bd4" height = "350" width = "350"></a>
                </figure>
            </fieldset>
        </div>
        <div class="div2" >
            <h2 class="h2_2">Actividades Predeterminadas</h2>
            <div class="div3">
                <div class="div4">
                    <h2 class="h2_3">Actividad 1</h2>
                    <a href = "/views/teacher/templates/template1.html" target="_blank"><ion-icon name="extension-puzzle-outline" class = "puzzle"></ion-icon></a>
                </div>
                <div class="div5">
                    <h2 class="h2_3">Actividad 2</h2>
                    <a href = "/views/teacher/templates/template2.html" target="_blank"><ion-icon name="extension-puzzle-outline" class = "puzzle"></ion-icon></a>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/controller/teacher/createActivity.js"></script>
</body>
</html>