<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="save_activity.css" rel="stylesheet">
    <title>Guardar Actividad</title>
</head>
<body>
    <header>
        <figure>
            <a href="/views/teacher/homePage/homePage.html"><img src=https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/shield.webp?alt=media&token=ea0067cf-c35f-4884-8d4f-cca0b93fec2b width="200" height="250"></a>
        </figure>
        <h1>ARITTEDIA</h1>
    </header>
    <section>
        <div class="div1">
            <h1>¿Ya quieres guardar tu actividad?</h1>
            <figure>
                <img src="https://firebasestorage.googleapis.com/v0/b/arittedia.appspot.com/o/Graduaci%C3%B3n.png?alt=media&token=1da3f627-ebb9-4b5a-9b56-688275867220" height="250" width="250"></figure>
            </figure>
            <form>
                <label for="email">
                    Nombre de la actividad
                </label>
                <br><input type="text" id="email" name="email" required
                    minlength="5" maxlength="100" size="45" src="/assets/mail.png" type="image" placeholder="Digite el nombre de la actividad">
                <label for="password">
            </form>
            <form action = "/views/user/recoverPage/recoverPage2.html">
                <button class="button1"><span>Guardar</span></button>
            </form>
        </div>
    </section>
</body>
</html>