body{
    background-color: #8A5FDA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%235267E2' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%238A5FDA' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%239067db' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%239670dc' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%239c78dd' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23a280de' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a789e0' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ad91e1' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23b399e2' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b9a2e3' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23bfaae4' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c5b3e5' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23cbbbe6' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23d1c3e7' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23d6cce9' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23dcd4ea' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23e2dceb' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23e8e5ec' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23EEEDED' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family:font_bold ;
    src: url(/fonts/font_bold.ttf);
}

@font-face {
    font-family:font_regular ;
    src: url(/fonts/font_regular.ttf);
}

#img1{
    position: absolute;
    top: 1.333vw;
    left: 2vw;
    margin-right: auto;
    margin-left: auto;
}

h1{
   text-align: center;
   padding-top: 5vw;
   font-size: 10vw;
   font-family: font_bold;
   margin-left: 10vw;
}

.tittle1{
    margin-top: 1.5vw;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 5vw;
    font-family: font_bold;
}

.div1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3vw;
    margin-top:1vw;
    height: 8.8vw;
    width: 98.5vw;
    border-style:solid;
    border-width:0.267vw;
    border-color: black;
    border-radius: 3.333vw;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%238A5FDA'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%238A5FDA'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%238A5FDA'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.div2{
    margin-left: auto;
    margin-right: auto;
    margin-top:4vw;
    background-color: lightgray;
    height: 50vw;
    width: 98.5vw;
    border-style:solid;
    border-width: 0.267vw;
    border-color: black;
    border-radius: 3.333vw;
    overflow-y: auto;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%238A5FDA'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%238A5FDA'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(90 1000 750) scale(50) translate(-980 -735)'%3E%3Cg fill='%238A5FDA'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}



.nav_bar{
    display:inline-block;
    background-color: aliceblue;
    text-align: center;
    color:black;
    margin-top: -10vw;
    padding-left: 13.3vw;
    padding-right: 13vw;
    padding-bottom: 0.8vw;
    padding-top: 0.6vw;
    font-family:font_regular;
    bottom: 100vw;
    border-style:solid;
    text-decoration:none;
    border-radius: 1.333vw;
}

.nav_bar:hover{
    background: #286cff;
    color:white;
    border-color: black;
}

h2{
    font-size: 2.667vw;
    font-family: font_bold;
    margin-left: 2vw;
    margin-top: 0.4vw;
    
}

fieldset{
    width:3.333vw;
    height:4vw;
    border-style:solid;
    border-width:0.4vw;
    border-color:black;
    margin-left:auto;
    margin-right:4vw;
    margin-top: -4vw;
    border-radius: 1vw;

}

legend {
    font-size: 1.8vw;
    font-family: font_bold;
    margin-left: 2vw;
    margin-top: 0.133vw;  
}

input{
    margin-left: 0.107vw;
    height: 1.7vw;
    width: 17vw;
    margin-right:auto;
    margin-left:auto;
    font-family: font_regular;
    font-size: 1.5vw;
    border-style: solid;
    border-width:0.4vw;
    border-color: black;
    border-radius: 1vw;
}

table{
    font-family: font_bold;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 4vw;
}

table tr{
    text-align: center;
}

.td2{
    padding-left:2vw;
    
}

.button1{
    font-family: font_bold;
    padding: 1vw;
    border-radius: 2vw;
    font-weight: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    transition: .3s ease all;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease all;
    overflow: hidden;
    border-color:black;
    color:white;
    background-color: rgb(82, 103, 226);
}

.button1 span{
    position:relative;
    z-index:2;
    transition: .3s ease all;
}

.button2{
    font-family: font_bold;
    padding: 1vw;
    border-radius: 2vw;
    font-weight: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    transition: .3s ease all;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease all;
    overflow: hidden;
    border-color:black;
    color:white;
    background-color: rgb(82, 103, 226);
}

.button2 span{
    position:relative;
    z-index:2;
    transition: .3s ease all;
}

.button3{
    font-family: font_bold;
    padding: 1vw;
    border-radius: 2vw;
    font-weight: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    transition: .3s ease all;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease all;
    overflow: hidden;
    border-color:black;
    color:white;
    background-color: rgb(82, 103, 226);
}

.button3 span{
    position:relative;
    z-index:2;
    transition: .3s ease all;
}


h3{
    font-size: 2vw;
    font-family: font_bold;
    margin-left: 2vw;
    margin-top: 0.4vw;
}

.a1{
    color:white;
}

#activity{
    height: 100%;
    width: 90%;
    display:flex;
    justify-content: space-between;
    border-style:solid;
    border-width: 0.267vw;
    border-color: black;
    border-radius: 1.333vw;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.puzzle{
    width:9vw;
    height:9vw;
    color:black;
    cursor:pointer;
    margin-top: 20%;
    margin-left: -450%;
    text-align: center;
}

/* ----------------- Responsive ----------------------- */



@media (max-width:1024px){

    .nav_bar{
        padding-left: 11.6vw;
    }

    input{
        margin-left: 0.107vw;
        height: 1.3vw;
    }

    .div2{
        height: 50vw;    
    }

    h3{
        font-size: 1.6vw;
        margin-left: 0vw;
    }

}

@media (max-width:768px){

    #img1{
        width:17vw; 
        height:22vw;
    }

    h1{
        margin-left: 25vw;
     }

    .nav_bar{
        margin-top: 1vw;
        text-align: center;
        width:94vw;
    }

    .div1{
        width: 119.5vw; 
    }

    fieldset{
        width:7vw;
        height:5vw;    
    }
    input{
        height: 1.5vw;
        width: 25vw;
    }

    legend {
        font-size: 2.773vw; 
    }

    .div2{
        height: 50vw;
        width: 119.5vw;    
    }

    h3{
        font-size: 2.2vw;
        margin-left: 0vw;
    }

    .puzzle{
        margin-left: -550%;
    }
}

@media (max-width:425px){
    #img1{
        width:32vw; 
        height:37vw;
    }

    h1{
        margin-left: 83vw;
        margin-bottom: 20vw;
     }

    .nav_bar{
        margin-top: 1vw;
        text-align: center;
        width:190vw;
    }

    .div1{
        width: 215vw;
        margin-top: 5vw;
        border-width:0.7vw;
    }

    .div2{
        width: 215vw;
        height: 50vw;    
    }

    fieldset{
        width:7vw;
        height:6vw;
        border-width:0.7vw;    
    }

    input{
        border-width:0.7vw;
    }

    .button1{
        font-size: 3vw;
    }

    .button2{
        font-size: 3vw;
    }

    .button3{
        font-size: 3vw;
    }

    h2{
        font-size: 3.5vw; 
    }

    h3{
        font-size: 3.5vw;
    }

    .puzzle{
        margin-left: -1050%;
    }
}

@media (max-width:375px){

    h1{
        margin-left: 97vw;
     }

    .nav_bar{
        width:218vw;
    }

    .div1{
        width: 243vw;
    }

    .div2{
        width: 243vw;    
    }
    h3{
        font-size: 4vw; 
    } 
    .puzzle{
        margin-left: -1150%;
    }  
}