body{
    background-color: lightgray;
}


@font-face {
    font-family:font_bold ;
    src: url(/fonts/font_bold.ttf);
}

@font-face {
    font-family:font_regular ;
    src: url(/fonts/font_regular.ttf);
}


.div1{
    margin-left: 8%;
    margin-top: 10%;
    background-color: lightgray;
    height: 800px;
    width: 1060px;
    border-style:solid;
    border-width:5px;
    border-color: black;
    border-radius: 10px;
    overflow-y: scroll;
}

.div2{
    margin-top:-64%;
    margin-left: 1%;
    height: 799px;
    width: 55px;
    border-style:dotted;
    border-width:5px;
    border-color: black;
    border-radius: 10px;

}

.div3{
    margin-top:-63.8%;
    margin-left: 94.5%;
    height: 370px;
    width: 55px;
    border-style:dotted;
    border-width:5px;
    border-color: black;
    border-radius: 10px;

}

.button1{
    font-family: font_bold;
    padding: 18px;
    position: absolute;
    top: 133%;
    right: 30%;
    border-radius: 15px;
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 10%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    cursor:pointer;
}

.button2{
    font-family: font_bold;
    padding: 18px;
    position: absolute;
    top: 133%;
    right: 50%;
    border-radius: 15px;
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 10%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    cursor:pointer;
}

.button3{
    border-radius:50%;
    height:50px;
    width:50px;
}

.play{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:30%;
    margin-left: 5%;
}

.stop{
    width:50px;
    height:50px;
    color:gray;
    margin-top:30%;
    margin-left: 5%;
}

.delete{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:25%;
    margin-left: 5%;
}

.select{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 6%;
}

.config{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.character{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.add{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.minus{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.multiplication{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.division{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.text{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.table{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.puzzle{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.help{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}

.map{
    width:50px;
    height:50px;
    color:black;
    cursor:pointer;
    margin-top:40%;
    margin-left: 5%;
}









